.carousel-wrapper {
  border-radius: 5px;

}

.slider {
  height: 250px;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 1em;
}

.slide-track {
  display: flex;
  width: calc(200px*14);
  white-space: no-wrap;
  padding: 0;
  margin: 0;
  text-align: center;
  animation: scroll 15s linear infinite;

}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  100% {
    transform: translateX(-1500px);
  }
}

.slide {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  perspective: 50px;
  margin: 0;
  padding: 0;
  color: rgb(240, 32, 74);
}

.slider .icon {
  width: 100%;
  font-size: 70px;
  transition: transform 150ms;
  margin-bottom: 3px;
  color: rgb(240, 32, 74);
}

.slide-track .icon:hover {
  transform: translateZ(10px);
}