.knowledge-wrapper {
  border-radius: 5px;
  /* display: flex;
  justify-content: space-evenly; */
}

.knowledge-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, auto);
  padding: 1em;
}

.knowledge-header::before {
  content: 'WHO I AM';
  margin: 0 auto;
  display: block;
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  margin: 10px 0;
  color: white;
}

.code-wrapper {
  grid-column: 1 / 13;
  display: flex;
  justify-content: space-between;
}

.frontend-grid,
.about-grid,
.backend-grid {
  width: 100%;
  display: inline-block;
  color: white;
  /* text-align: center; */
  padding: 0.5em;
}

.frontend-knowledge h2,
.backend-knowledge h2,
.about-knowledge h2 {
  color: white;
  text-decoration: underline;
}

.about-knowledge {
  grid-column: 8 / 13;
  text-align: center;
}

.frontend-grid h3:nth-child(odd),
.about-grid h3:nth-child(odd),
.backend-grid h3:nth-child(odd) {
  color: rgb(240, 32, 74);
}

.pfp-pic {
  width: 50%;
}

.about-me-text {
  grid-column: 3 / 7;
  color: white;
}

.frontend-grid {
  text-align: left;
}


.backend-grid {
  text-align: right;
}

@media(max-width:767px) {
  .knowledge-container {
    display: block;
  }

  .frontend-knowledge,
  .frontend-grid,
  .about-knowledge,
  .about-grid,
  .backend-knowledge,
  .backend-grid {
    text-align: center;
  }
}